@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
	box-sizing: border-box;
    padding: 0;
    margin:0;
}

:root {
    --primary-color: #092d49;
    --primary-color-alt: #2a5e8e;
    --secondary-color: #1b4972;
    --color-text: #f8f8ff;
}

body {
	background-color: var(--primary-color);
	color: var(--color-text);
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;

    overflow-x: hidden;

}

p {
	margin: 5px 0;
}


h2 {
	margin: 10px 0 20px;
	text-align: center;
}


li, ul, a {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

span {
    color: #f6d2b6;
    font-weight: bold;
}

/*  */

nav {
    background: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    z-index: 99;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

nav a {
    color: var(--color-text);
}

li {
    padding: 20px;
    cursor: pointer;
}

li:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

nav button{
    background: transparent;
    border: none;
    color: var(--color-text);
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
    transition: all ease-in-out .3s;
}

nav button:hover {
    color: #f6d2b6;
}

/*  */

input[type=number] {
    background-color: var(--primary-color);
    color: var(--color-text);
    border: none;
    padding: 5px;
    font-weight: bold;
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
	margin-right: 0;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



input[type=checkbox]::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    color: var(--color-text);
    display: none;
}

input[type=checkbox]:checked {
    background-color: var(--primary-color-alt);;
}

input[type=checkbox]:checked::after {
    display: block;
}


.home {
	background-color: var(--secondary-color);
	padding: 20px;
	width: 90%;
	max-width: 100%;
    border-radius: 5px;
    /* margin-top: 4rem; */
}

.result-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}


.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.setting label {
    font-family: 'Poppins', sans-serif;
}

.btn {
	border: none;
	color: var(--color-text);
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: var(--primary-color);
    transition: all ease .3s;
}

.btn:hover {
    background-color: var(--primary-color-alt);
}

.btn-large {
	display: block;
	width: 100%;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

/*  */

.text-home {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

/*  */

.security, 
.exclusive{
    width: 70%;
}

.exclusive {
    margin-top: 5rem;
}

.security_container, 
.exclusive_container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.security_img img, 
.exclusive_img img {
    width: 300px
}

.security_data {
    width: 60%;
    margin-left: 50px;
}

.security_description, 
.exclusive_description,
.tips_description {
    font-size: 18px;
    text-align: justify;
}

.exclusive_data {
    width: 60%;
    margin-right: 50px;
}

.tips {
    width: 80%;
}

.tips_data {
    margin-bottom: 2rem;
}


@media screen and (max-width: 1148px) {
    body {
        overflow-x: hidden;
    }

    h1 {
        text-align: center;
    }

    .text-home {
        margin: 4rem 20px;
    }

    .security,
    .exclusive {
        width: 100%;
    }

    .security_container, 
    .exclusive_container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .exclusive_img {
        order: -1;
    }

    .security_data, 
    .exclusive_data {
        margin: 0;
        width: 80%;
    }

    .security_title, 
    .exclusive_title {
        text-align: center;
        margin-bottom: 2rem;
    }
}

footer {
    padding: 2rem 0;
    width: 100%;
    background-color: var(--secondary-color);
    align-items: center;
    text-align: center;
}



@media screen and (max-width: 868px) {
    .nav-links {
        position: absolute;
        right: 0;
        left: 0;
        top: 8vh;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color);
        transform: translateY(-200%);
        transition:  transform 0.5 ease-in;
        z-index: -1;
    }

    .nav-links li{
        opacity: 0;
    }

    .burguer{
        display: block;
    }



}

.nav-active {
        transform: translateX(0%)    
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

::-webkit-scrollbar {
    width: 0.6rem;
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: #29343b;
    border-radius: .5rem;
    transition: all ease .2s;
}

::-webkit-scrollbar-thumb:hover {
    background: #1f2732;
}